.container {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    
    button {
        margin: 4px 8px;
        padding: 0;
        text-align: center;
        width: 100px;
        height: 24px;
        font: 500 18px/20px 'Roboto', sans-serif ;
        border: 2px solid #434343;
        &:disabled {
            border-color: rgba(16, 16, 16, 0.3);
        }
    }
}